/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

:root {
    --pink-background: #FFC1CC;
    --red-pink-background: #F37289;
    --blue-txt: #00FFFF;
    --foot-background: #D598A3;
    --brown-txt: #6B402D;
    --green-txt: #50C878;
    --pink-brown-color: #F3B6B9;
}

/* --------------------------------------- */

body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 78% 7%;
}

/* Begin: Heading */
.heading {
    height: 100%;
    width: 100%;
    background-color: var(--pink-background);
}

.logo {
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    background-color: var(--pink-background);
    display: grid;
    grid-template-columns: 50% 50%;
}
/* End: Heading */

/* Begin: Content */
.content-left {
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 30%;
}

.slogan {
    font-size: 60px;
    color: var(--brown-txt);
}

.sub-slogan {
    color: var(--green-txt);
}

.content-right {
    height: 100%;
    width: 100%;
}

.form-container {
    height: 70%;
    width: 60%;
    background-color: var(--pink-brown-color);
    margin-top: 7%;
}
/* End: Content */

/* Begin: Footing */
/* End: Footing */